/* 
*************
    RESET   *
*************
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* 
*************
    LAYOUT  *
*************
*/

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

#main-header + * {
  padding-top: 80px;
}

.row {
  margin-left: -1rem;
  margin-right: -1rem;
}

.col {
  padding: 1rem;
}

section {
  padding: 50px 0;
}

/* 
*************
   SECTIONS *
*************
*/

/* Header */

#main-header {
  background-color: aqua;
  height: 80px;
  line-height: 80px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#main-header > .container {
  display: flex;
  justify-content: space-between;
}

.desktop-menu {
  display: none;
}

.desktop-menu > ul {
  display: flex;
}

.desktop-menu > ul > li {
  padding: 0 15px;
}

/* Intro */

#intro .card {
  background-color: #9ad4f2;
  padding: 1rem;
}

/* Planning */

#planning {
  background-color: #9792e4;
}

#planning .card {
  background-color: white;
  padding: 1rem;
}

/* Testimonials */

#testimonials .card {
  background-color: #9792e4;
  padding: 1rem;
}

/* Benefits */

#benefits {
  background-color: #9792e4;
}

#benefits .card {
  background-color: white;
  padding: 1rem;
}

/* 
*************
 RESPONSIVE *
*************
*/

/* Tablet */

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }

  /* intro */
  #intro .row {
    display: flex;
    flex-wrap: wrap;
  }

  #intro .col {
    width: calc(100% / 3);
  }

  #intro .col:first-child {
    width: calc(100% / 3 * 2);
  }
}

/* Desktop */

@media screen and (min-width: 992px) {
  .container {
    width: 80%;
  }

  /* main-header */
  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
  }

  /* intro */
  #intro .card__half {
    width: 50%;
  }

  #intro .card.large-card {
    display: flex;
  }

  /* planning */
  #planning .container {
    width: 60%;
  }

  #planning .row {
    display: flex;
  }

  #planning .col {
    width: 50%;
  }
}
