/* 
*************
    RESET   *
*************
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
*************
    LAYOUT  *
*************
*/

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

#main-header + * {
  padding-top: 80px;
}

/* 
*************
   SECTIONS *
*************
*/

/* Header */

#main-header {
  background-color: aqua;
  height: 80px;
  line-height: 80px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#main-header > .container {
  display: flex;
  justify-content: space-between;
}

/* 
*************
 RESPONSIVE *
*************
*/
