/* 
*************
    RESET   *
*************
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  font-family: "Akatab", sans-serif;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 900;
}

p {
  font-size: 1.2rem;
}

/* 
*************
    LAYOUT  *
*************
*/

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

#main-header + * {
  padding-top: 80px;
}

.row {
  margin-left: -1rem;
  margin-right: -1rem;
}

.col {
  padding: 1rem;
}

section,
#footer {
  padding: 50px 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

/* 
*************
   SECTIONS *
*************
*/

/* Header */

#main-header {
  background-color: #0084fd;
  height: 80px;
  color: white;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#main-header > .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu {
  cursor: pointer;
}

.desktop-menu {
  display: none;
  font-size: 1.1rem;
}

.desktop-menu > ul {
  display: flex;
  align-items: center;
}

.desktop-menu > ul > li {
  padding: 0 15px;
}

#main-header .get-started__button {
  background-color: white;
  color: #333333;
  padding: 10px 15px;
  border-radius: 20px;
}

/* Intro */

#intro .card {
  background-color: #b5ddff;
  padding: 1rem;
  font-weight: 700;
  height: 100%;
  border-radius: 20px;
}

#intro .card h3 {
  color: #0084fd;
}

#intro .card p {
  color: #444444;
}

#intro .intro__button {
  background-color: #0084fd;
  color: white;
  text-align: center;
  letter-spacing: 0.1rem;
  padding: 10px 35px;
  border-radius: 30px;
}

#intro .card__half.card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

#intro .card__half.card-media {
  display: flex;
  justify-content: center;
}

#intro .card__half.card-media img {
  display: block;
  width: 300px;
  margin-bottom: -1rem;
}

#intro .card-content i {
  font-size: 5rem;
  color: #0084fd;
}

/* Planning */

#planning {
  background-color: #9792e4;
}

#planning .card {
  background-color: white;
  padding: 1rem;
}

#planning h2 {
  color: white;
  font-weight: 900;
  margin: 50px 0;
}

#planning p {
  color: white;
}

#planning .card {
  border-radius: 50px;
  padding: 50px;
}

#planning .card p {
  color: #333333;
  font-style: italic;
}

#planning .card-content {
  align-items: center;
}

.planning__button {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #9792e4;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Testimonials */

#testimonials .card {
  background-color: #9792e4;
  padding: 1rem;
}

/* Benefits */

#benefits {
  background-color: #9792e4;
}

#benefits .card {
  background-color: white;
  padding: 1rem;
}

/* Get Started */
#get-started {
  background-color: #9792e4;
}

/* Footer */
#footer {
  background-color: #333333;
}

/* 
*************
 RESPONSIVE *
*************
*/

/* Tablet */

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }

  /* intro */
  #intro .row {
    display: flex;
    flex-wrap: wrap;
  }

  #intro .col {
    width: calc(100% / 3);
  }

  #intro .col:first-child {
    width: calc(100% / 3 * 2);
  }

  #intro .card__half.card-media {
    width: 50%;
  }

  /* benefits */
  #benefits .row.benefits__cards {
    display: flex;
    flex-wrap: wrap;
  }

  #benefits .row.benefits__cards .col {
    width: 50%;
  }

  /* about us */
  #about-us .row {
    display: flex;
  }

  #about-us .col:nth-child(1) {
    width: 60%;
  }

  #about-us .col:nth-child(2) {
    width: 40%;
  }
}

/* Desktop */

@media screen and (min-width: 992px) {
  .container {
    max-width: 1140px;
  }

  /* main-header */
  .mobile-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
  }

  /* intro */
  #intro .card__half {
    width: 50%;
  }

  #intro .card.large-card {
    display: flex;
  }

  /* planning */
  #planning .container {
    width: 60%;
  }

  #planning .row {
    display: flex;
  }

  #planning .col {
    width: 50%;
  }

  /* benefits */
  #benefits .row.benefits__cards .col {
    width: calc(100% / 3);
  }

  /* about us */
  #about-us .col:nth-child(1) {
    width: 75%;
  }

  #about-us .col:nth-child(2) {
    width: 25%;
  }
}
